root = true

[*]
indent_style = space
insert_final_newline = true

[*.md]
indent_size = 2
tab_width = 2

[*.{kt,kts}]
indent_size = 4
tab_width = 4
ij_continuation_indent_size = 4
max_line_length = 120

ij_kotlin_code_style_defaults = KOTLIN_OFFICIAL
ij_kotlin_continuation_indent_in_parameter_lists = false
ij_kotlin_continuation_indent_for_expression_bodies = false
ij_kotlin_name_count_to_use_star_import = 999999999
ij_kotlin_name_count_to_use_star_import_for_members = 999999999
ij_kotlin_packages_to_use_import_on_demand = unset

ktlint_code_style = intellij_idea
ktlint_standard_no-blank-line-in-list = disabled
ktlint_standard_function-signature = disabled
ktlint_standard_class-signature = disabled

[*.{yml,yaml}]
indent_size = 2
tab_width = 2